.page-home {
  ion-content{
    
    background-image:url('../assets/imgs/BHUVA.png') ;
    }
             
  .other-page{
  
  
  .slide-zoom {
      height: 100%;
    }
  
    .slide-title {
      margin-top: 1rem;
      font-style: normal;
      font-size: medium;
      color: 330066;
    
    }
    
  
    .slide-image {
      max-height: 50%;
      max-width: 90%;
      margin-top: 0%
    }
  
    b {
      font-weight: 500;
     color: r 
    }
  
    p {
      padding: 0 40px;
      font-size: 14px;
      line-height: 1.5;
      color: 330066;
  
      b {
        color: 330066;
      }
    }
  }
  }
  
  
  